body,
dl,
dd,
ul,
ol,
h1,
h2,
header {
    margin: 0;
}

body,
button,
input,
select,
textarea {
    font: 12px/1.5 tahoma, '\5FAE\8F6F\96C5\9ED1', sans-serif
}

h1,
h2 {
    font-size: 100%
}

em,
b {
    font-style: normal
}

a {
    text-decoration: none
}

a:hover {
    text-decoration: underline
}

img {
    border: 0;
    user-select: none;
}

body {
    padding-top: 0vw;
    background-color: #0e0e0e;
}

button,
input,
select,
textarea {
    font-size: 100%;
    outline: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

td,
th,
ul,
ol {
    padding: 0;
    list-style: none;
}

.btn:hover {
    filter: brightness(120%);
}

.db {
    display: block;
    text-indent: -999em;
}

.md {
    display: none !important;
}

.wrap {
    max-width: 100%;
    min-width: 97.9167vw;
    margin: 0 auto;
    overflow: hidden;
    transform: translateZ(-1px);
}


/* head S */

.head {
    width: 100%;
    height: 44.4271vw;
    background: url('../img/bg1.jpg') center top no-repeat;
    background-size: 100vw 44.4271vw;
    position: relative;
    left: 0vw;
    top: 0vw;
}

.head::after {
    display: block;
    width: 100%;
    height: 11.5104vw;
    content: '';
    background: url('../img/solid.png') center top no-repeat;
    background-size: 100vw 11.5104vw;
    position: absolute;
    left: 0vw;
    bottom: -2.8125vw;
}

.head .bg {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0vw;
    top: 0vw;
    overflow: hidden;
    background: url('../img/head-bg.jpg') center top no-repeat;
    background-size: 100vw 44.4792vw;
}

.head .bg video {
    height: 100%;
    position: absolute;
    top: 0vw;
    left: 50%;
    transform: translateX(-50%);
}

.head .con {
    min-width: 73.4375vw;
    position: relative;
    left: 0vw;
    right: 0vw;
    z-index: 99;
    margin: 0 auto;
}

.head .con .top {
    box-sizing: border-box;
    display: flex;
    height: 5.6771vw;
    padding-top: 1.0417vw;
    padding-bottom: 2.6042vw;
    justify-content: space-between;
    background: url('../img/top.png') center top no-repeat;
    background-size: 100vw 5.6771vw;
}

.head .con .l-wrap {
    display: flex;
    align-items: center;
}

.head .logo {
    width: 8.5938vw;
    height: 2.0313vw;
    background: url('../img/logo.png') center top no-repeat;
    background-size: 8.5938vw 2.0313vw;
    margin-left: 2.3438vw;
}

.head #navigation {
    width: 41.3958vw;
    display: flex;
    justify-content: space-between;
    margin-left: 4.1667vw;
}

.head #navigation a {
    font-family: " MicrosoftYaHei";
    font-size: 0.7292vw;
    color: #ffffff;
    text-decoration: none;
    position: relative;
    left: 0vw;
    top: 0vw;
}

.head #navigation .riot {
    font-family: " MicrosoftYaHei";
    font-size: 0.7292vw;
    color: #ffffff;
    text-decoration: none;
    position: relative;
    left: 0vw;
    top: 0vw;
    cursor: pointer;
    /* padding-right: 1.0417vw; */
}

.head #navigation .riot .nav7 {
    padding-right: 1.0417vw;
}

.head .riot em {
    display: block;
    width: 0.6771vw;
    height: 0.5729vw;
    background: url('../img/sp4.png') no-repeat;
    background-size: 72.9167vw 52.0833vw;
    background-position: -44.5833vw -37.8646vw;
    position: absolute;
    right: 0vw;
    top: 0.3046vw;
}

.head .riot .nav-branch {
    position: absolute;
    left: 0px;
    top: 100%;
    padding-top: 0.5208vw;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s;
    transform: translateY(-20%);
}

.head .riot:hover .nav-branch {
    visibility: visible;
    transform: translateY(0%);
    opacity: 1;
}

.head .riot .nav-branch a {
    display: block;
    margin-bottom: 0.5208vw;
}

.head #navigation a:hover::after,
.head #navigation a.on::after {
    width: 2.7604vw;
    height: 0.1042vw;
    display: block;
    content: '';
    background: url('../img/sp2.png') no-repeat;
    background-size: 31.25vw 41.6667vw;
    background-position: -12.0833vw -0.7812vw;
    position: absolute;
    left: 49%;
    bottom: -0.3125vw;
    transform: translateX(-50%);
}

.head .login-info {
    font-family: "MicrosoftYaHei";
    font-size: 0.8333vw;
    letter-spacing: 1px;
    color: #ffffff;
    margin-right: 2.0833vw;
}

.head .login-info a {
    color: #ba8964;
    text-decoration: none;
}

.head .tit1 {
    width: 38.2292vw;
    height: 9.1146vw;
    background: url('../img/sp1.png') no-repeat;
    background-size: 72.9167vw 83.3333vw;
    background-position: -0.8333vw -28.8542vw;
    margin: 1.5625vw auto 1.0417vw;
}

.head .tit2 {
    width: 12.7604vw;
    height: 3.125vw;
    background: url('../img/sp1.png') no-repeat;
    background-size: 72.9167vw 83.3333vw;
    background-position: -0.8333vw -43.125vw;
    margin: 0vw auto;
}

.head .tit3 {
    width: 49.5833vw;
    height: 1.5104vw;
    background: url('../img/ltit.png') center top no-repeat;
    background-size: 49.5833vw 1.5104vw;
    margin: 9.6354vw auto 0vw;
}

/* .head .btn-order {
    width: 22.1354vw;
    height: 7.1354vw;
    background: url('../img/btn2.png') no-repeat;
    background: url('../img/btn1.png') no-repeat;
    background-size: 100% 100%;
    background: url('../img/sp2.png') no-repeat;
    background-size: 31.25vw 41.6667vw;
    background-position: -0.9896vw -5.3646vw;
    margin: 2.6042vw auto 0;
    cursor: pointer;
} */

.head .btn-watch {
    width: 22.1354vw;
    height: 7.1354vw;
    background: url('../img/btn2.png') no-repeat;
    background-size: 100% 100%;
    margin: 2.6042vw auto 0;
    cursor: pointer;
}
.head .completed {
    width: 22.1354vw;
    height: 7.1354vw;
    background: url('../img/completed.png') no-repeat;
    background-size: 22.1354vw 7.1354vw;
    margin: 2.6042vw auto 0;
    pointer-events: none;
}
.riot-part {
    width: 100%;
    padding-top: 70px;
}

.riot-part .top {
    width: 100%;
    margin: 0 auto;
    padding-top: 20px;
}

.riot-part .top .tit {
    width: 605px;
    height: 111px;
    margin: 0 auto;
    background: url(../img/sp4_20211229_095922.png) no-repeat;
    background-position: -15px -135px;
}

.riot-part .top .btn-play {
    width: 511px;
    height: 288px;
    margin: 50px auto 0;
    background: url('../img/head-bg2.jpg') center no-repeat;
    background-size: auto 100%;
    position: relative;
    left: 0;
    top: 0;
}
.btn-ljgd{
    background: url(../img/btn-ljgd.png) no-repeat;
    width: 300px;
    height: 90px;
    display: block;
    margin: 45px auto;
}

.riot-part .top .btn-play::after {
    width: 517px;
    height: 294px;
    display: block;
    content: '';
    background: url('../img/sp4.png') no-repeat;
    background-position: -15px -753px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.riot-part .top .play-icon {
    width: 51px;
    height: 31px;
    display: block;
    content: '';
    background: url('../img/sp4.png') no-repeat;
    background-position: -595px -753px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.riot-part .evo-main {
    width: 100%;
    margin-top: 115px;
}

.riot-part .evo-main .con1 {
    width: 100%;
    margin: 0 auto;
}

.riot-part .evo-main .tit1 {
    width: 337px;
    height: 168px;
    background: url('../img/sp8.png') no-repeat;
    margin: 0 auto;
}

.riot-part .evo-main .t-txt1 {
    font-family: "PingFang-SC-Regular";
    font-size: 20px;
    color: #e2ba89;
    margin-top: 10px;
    text-align: center;
}

.evo-main .t-txt1 p:nth-child(1) {
    margin-bottom: 5px;
}

.riot-part .evo-main .game-list {
    width: 680px;
    margin: 55px auto 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.riot-part .game-list li {
    width: 330px;
    height: 151px;
    margin-top: 15px;
}

.riot-part .game-list a {
    width: 100%;
    height: 100%;
    position: relative;
    left: 0;
    top: 0;
    overflow: hidden;
}

.riot-part .game-list .game-info {
    width: 227px;
    height: 153px;
    background: url('../img/sp4.png') no-repeat;
    background-position: -553px -821px;
    filter: drop-shadow(-2px 10px 10px #000000);
    position: absolute;
    right: 0;
    top: 0;
    overflow: hidden;
}

.riot-part .game-info .text {
    text-indent: 0em;
    width: 190px;
    text-align: right;
    text-align-last: right;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0px;
    color: #ffffff;
    position: absolute;
    right: 8px;
    bottom: 12px;
}

.riot-part .sczz .game-info {
    background-position: -550px -822px;
}

.riot-part .legends .game-info {
    background-position: -548px -822px;
}

.riot-part .yun .game-info {
    background-position: -554px -822px;
}

.riot-part .lolm .game-info {
    background-position: -554px -821px;
}

.riot-part .game-list .sczz {
    background: url('../img/game1.jpg') center no-repeat;
    background-size: 100% auto;
     background-position-y: -1px;
}

.riot-part .game-list .legends {
    background: url('../img/game2.jpg') center no-repeat;
    background-size: 100% auto;
}

.riot-part .game-list .lole {
    background: url('../img/game3.jpg') center no-repeat;
    background-size: 100% auto;
}

.riot-part .game-list .lolm {
    background: url(../img/game4.jpg) center no-repeat;
    background-size: 100% auto;
}

.riot-part .game-list .yun {
    background: url('../img/game4.jpg') center no-repeat;
    background-size: 100% auto;
}

.riot-part .game-list .jcc {
    background: url('../img/game6.jpg') center no-repeat;
    background-size: 100% auto;
}

.riot-part .game-list .zbsc {
    background: url('../img/game7.jpg') center no-repeat;
    background-size: 101% auto;
}

.riot-part .premiere-main {
    width: 100%;
    margin-top: 50px;
}

.riot-part .premiere-main .con2 {
    width: 100%;
    padding-top: 15px;
}

.riot-part .premiere-main .tit2 {
    width: 390px;
    height: 74px;
    background: url('../img/sp5.png') no-repeat;
    background-position: 0 -80px;
    margin: 0 auto;
}

.riot-part .premiere-main .t-txt2 {
    font-family: "PingFang-SC-Regular";
    font-size: 20px;
    color: #e1b989;
    margin-top: 5px;
    display: flex;
    justify-content: center;
}

.riot-part .premiere-main .contariner {
    width: 100%;
    margin-top: 40px;
}

.riot-part .premiere-main .project-wrap {
    width: 673px;
    height: 369px;
    position: relative;
    left: 0px;
    top: 0px;
    margin: 0 auto;
    overflow: hidden;
}

.riot-part .project-wrap img {
    width: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0%);
}

.riot-part .premiere-main .hall-wrap {
    width: 657px;
    margin: 0 auto;
    padding-top: 55px;
}

.riot-part .premiere-main .m-tit,
.riot-part .premiere-main .b-tit {
    font-size: 20px;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 15px;
}

.riot-part .premiere-main .main-hall {
    width: 100%;
    height: 221px;
    background: url('../img/project.jpg') center no-repeat;
    background-size: 105% auto;
    position: relative;
    left: 0px;
    top: 0px;
    margin-bottom: 40px;
}

.riot-part .main-hall .hall-info {
    width: 100%;
    height: 62px;
    position: absolute;
    left: 0px;
    bottom: 0px;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.riot-part .main-hall .address {
    font-family: "PingFang-SC-Regular";
    font-size: 17px;
    color: #ffffff;
    margin-right: 15px;
    position: relative;
    left: 0px;
    top: 0;
    padding-left: 25px;
}

.riot-part .main-hall .address::before {
    display: block;
    content: '';
    width: 16px;
    height: 22px;
    background: url('../img/sp4.png') no-repeat;
    background-position: -135px -630px;
    position: absolute;
    left: 0px;
    top: 1px;
}

.riot-part .main-hall .act-time {
    font-family: "PingFang-SC-Regular";
    font-size: 17px;
    color: #ffffff;
    position: relative;
    left: 0px;
    top: 0;
    padding-left: 25px;
}

.riot-part .main-hall .act-time::before {
    display: block;
    content: '';
    width: 21px;
    height: 20px;
    background: url('../img/sp4.png') no-repeat;
    background-position: -212px -631px;
    position: absolute;
    left: 0px;
    top: 2px;
}

.riot-part .premiere-main .branch-hall {
    width: 100%;
    position: relative;
    left: 0;
    top: 0px;
}

.riot-part .premiere-main .s-con {
    width: 100%;
    overflow: hidden;
}

.riot-part .premiere-main .swiper-slide {
    width: 209px;
    height: 185px;
    display: flex;
    justify-content: center;
}

.riot-part .premiere-main .b-hall {
    width: 209px;
    height: 100%;
    background: url('../img/project.jpg') center no-repeat;
    background-size: 280%;
    position: relative;
    left: 0px;
    top: 0px;
    overflow: hidden;
}
.swiper-container-hall .swiper-slide:nth-child(1) .b-hall{background: url(../img/b-hall1.jpg) no-repeat;background-size: 100% 100%;width: 209px;height: 100%;}
.swiper-container-hall .swiper-slide:nth-child(2) .b-hall{background: url(../img/b-hall2.jpg) no-repeat;background-size: 100% 100%;width: 209px;height: 100%;}
.swiper-container-hall .swiper-slide:nth-child(3) .b-hall{background: url(../img/b-hall5.jpg) no-repeat;background-size: 100% 100%;width: 209px;height: 100%;}
.swiper-container-hall .swiper-slide:nth-child(4) .b-hall{background: url(../img/b-hall4.jpg) no-repeat;background-size: 100% 100%;width: 209px;height: 100%;}
.swiper-container-hall .swiper-slide:nth-child(5) .b-hall{background: url(../img/b-hall3.jpg) no-repeat;background-size: 100% 100%;width: 209px;height: 100%;}

.riot-part .b-hall .hall-info {
    width: 100%;
    height: 70px;
    position: absolute;
    left: 0px;
    bottom: 0px;
    background-color: rgb(0, 0, 0,0.8);
    padding-left: 10px;
}

.riot-part .b-hall .address {
    margin-top: 20px;
    display: block;
    font-family: "PingFang-SC-Regular";
    font-size: 17px;
    color: #ffffff;
    position: relative;
    left: 0px;
    top: 0;
    padding-left: 25px;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-right: 20px;
    text-align: center;
}

.riot-part .b-hall .address::before {
    display: block;
    content: '';
    width: 16px;
    height: 22px;
    background: url('../img/sp4.png') no-repeat;
    background-position: -135px -630px;
    position: absolute;
    left: 0px;
    top: 1px;
}

.riot-part .b-hall .act-time {
    margin-top: 5px;
    display: block;
    font-family: "PingFang-SC-Regular";
    font-size: 17px;
    color: #ffffff;
    position: relative;
    left: 0px;
    top: 0px;
    padding-left: 25px;
}

.riot-part .b-hall .act-time::before {
    display: block;
    content: '';
    width: 21px;
    height: 20px;
    background: url('../img/sp4.png') no-repeat;
    background-position: -212px -631px;
    position: absolute;
    left: 0px;
    top: 2px;
}

.riot-part .scroll-wrap {
    width: 750px;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-top: 20px;
}

.riot-part .swiper-scrollbar-hall {
    width: 750px;
    background-color: #362e28;
    height: 6px;
    /* margin-top: 12px; */
    border-radius: 0px;
    transform: scale(0.86);
}

.riot-part .swiper-scrollbar-hall .swiper-scrollbar-drag {
    background: #ba8964;
    border-radius: 2px;
}

.riot-part .premiere-main .btn-ljbm {
    width: 304px;
    height: 91px;
    background: url('../img/sp4.png') no-repeat;
    background-position: -483px -448px;
    margin: 20px auto 0;
}

.riot-part .bottom-main {
    width: 100%;
    padding-top: 15px;
    margin-top: 60px;
}

.riot-part .bottom-main .con3 {
    width: 100%;
}

.riot-part .bottom-main .tit3 {
    width: 427px;
    height: 80px;
    background: url('../img/sp4.png') no-repeat;
    background-position: -15px -597px;
    margin: 0 auto;
}

.riot-part .bottom-main .t-txt3 {
    font-family: "PingFang-SC-Regular";
    font-size: 20px;
    color: #e2ba89;
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.riot-part .bottom-main .card-list {
    width: 670px;
    display: flex;
    justify-content: space-between;
    margin: 65px auto 0;
}

.riot-part .card-list li {
    width: 210px;
    height: 311px;
    position: relative;
    left: 0;
    top: 0;
    overflow: hidden;
}

.riot-part .card-list img {
    width: 100%;
    display: block;
}

.riot-part .card-list .info {
    width: 100%;
    height: 100px;
    position: absolute;
    left: 0;
    bottom: 0px;
    background-image: linear-gradient(to bottom, #16161600, #000000db);
    box-sizing: border-box;
    padding: 0 10px;
}


/* .riot-part .card-list .info::after {
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0px;
    background-color: #000000;
    z-index: 1;
    opacity: 0.1;
} */

.riot-part .card-list .title {
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    position: relative;
    left: 0;
    top: 0;
}

.riot-part .card-list .title::after {
    display: block;
    content: '';
    width: 23px;
    position: absolute;
    left: 0;
    bottom: -11px;
    border-bottom: 2px solid #ffffff;
}

.riot-part .card-list p {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0px;
    color: #ababab;
    margin-top: 20px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.riot-part .bottom-main .btn-ljbm {
    width: 304px;
    height: 91px;
    background: url('../img/sp4.png') no-repeat;
    background-position: -483px -448px;
    margin: 40px auto 0;
}

.riot-part .partner {
    width: 611px;
    height: 39px;
    background: url('../img/sp4.png') no-repeat;
    background-position: -37px -1109px;
    margin: 58px auto 0;
}


/* riot-part E */


/* role-part S */

.role-part {
    width: 100%;
    /* background: url('../img/bg2.jpg') center bottom no-repeat;
    background-size: 100vw 55.9375vw; */
}

.role-part .con {
    width: 700px;
    margin: 0 auto;
    padding-top: 100px;
}

.role-part .tit {
    width: 358px;
    height: 109px;
    background: url('../img/sp7.png') no-repeat;
    /* background-position: -9px -216px; */
}

.role-part .main {
    width: 750px;
    position: relative;
    left: -25px;
    top: 0px;
}

.role-part .swiper-container-r {
    width: 100%;
    overflow: hidden;
    padding-top: 150px;
    padding-bottom: 100px;
}

.role-part .swiper-container-r .swiper-slide {
    width: 299px;
    display: flex;
    justify-content: space-between;
}

.role-part .swiper-button-prev {
    width: 48px;
    height: 48px;
    background: url('../img/sp2.png') no-repeat;
    background-position: -9px -378px;
    position: absolute;
    left: 30px;
    top: 50%;
    opacity: 1 !important;
    z-index: 9;
    transform: scale(1.3);
}

.role-part .swiper-button-next {
    width: 48px;
    height: 48px;
    background: url('../img/sp2.png') no-repeat;
    background-position: -95px -378px;
    position: absolute;
    right: 30px;
    top: 50%;
    opacity: 1 !important;
    z-index: 9;
    transform: scale(1.3);
}

.role-part .swiper-button-prev.swiper-button-disabled {
    background-position: -9px -295px;
}

.role-part .swiper-button-next.swiper-button-disabled {
    background-position: -95px -295px;
}


/* .role-part .swiper-slide:nth-child(odd) {
    top: -50px;
}

.role-part .swiper-slide:nth-child(even) {
    top: 50px;
} */

.role-part .swiper-container-r .role-box {
    width: 280px;
    height: 434px;
    margin: 0 auto;
    background: url('../img/sp3.png') no-repeat;
    background-position: -654px -800px;
    position: relative;
    left: 0px;
    top: 0px;
}

.role-part .swiper-slide img {
    display: block;
    width: 280px;
    height: 490px;
    position: absolute;
    left: 0;
    bottom: 0px;
    filter: brightness(0.6);
    z-index: 12;
    transition: all 0.3s;
}

.role-part .role-box .mask {
    display: block;
    width: 262px;
    height: 309px;
    background: url('../img/sp3.png') no-repeat;
    background-position: -240px -781px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 13;
}

.role-part .role-box .seleted {
    display: none;
    width: 299px;
    height: 454px;
    background: url('../img/sp3.png') no-repeat;
    background-position: -1040px -800px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    transition: all 0.3s;
}

.role-part .wei .seleted,
.role-part .jess .seleted,
.role-part .caitlin .seleted,
.role-part .mel .seleted {
    background-position: -44px -1131px;
}

.role-part .swiper-slide.swiper-slide-active.on .role-box {
    transform: scale(1.22);
    transition: all 0.3s;
}


/* .role-part .swiper-slide-active .role-box {
    transform: scale(1.2);
} */

.role-part .swiper-slide.swiper-slide-active.on img {
    filter: brightness(1.2);
}

.role-part .swiper-slide.swiper-slide-active.on .seleted {
    display: block;
}

.role-part .swiper-slide .roleInfo {
    opacity: 0;
    width: 254px;
    height: 138px;
    background: url('../img/sp3.png') no-repeat;
    background-position: -540px -167px;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translateY(30%);
    z-index: 14;
    box-sizing: border-box;
    padding: 0 15px;
    transition: all 0.3s;
}

.role-part .swiper-slide.swiper-slide-active.on .roleInfo {
    opacity: 1;
    transform: translateY(0);
}

.role-part .swiper-slide .top-text {
    padding-top: 0.5208vw;
}

.role-part .swiper-slide .rname {
    font-family: "SourceHanSansCN-Bold";
    font-size: 25px;
    font-weight: 600;
    color: #f5f2ed;
}

.role-part .swiper-slide .town {
    font-size: 13px;
    letter-spacing: 0px;
    color: #8e8e8e;
    margin-left: 5px;
}

.role-part .swiper-slide .present {
    margin-top: 15px;
    font-size: 12px;
    line-height: 16px;
    color: #8e8e8e;
    position: relative;
    left: 0;
    top: 0;
}

.role-part .swiper-slide .present::before {
    display: block;
    content: '';
    width: 196px;
    height: 8px;
    background: url('../img/sp3.png') no-repeat;
    background-position: -414px -314px;
    position: absolute;
    left: 0;
    top: -13px;
}

.role-part .s-scroll {
    width: 750px;
    background-color: #362e28;
    height: 8px;
    margin-top: 12px;
    border-radius: 0px;
    transform: scale(0.51);
}

.role-part .swiper-scrollbar-drag {
    background: #ba8964;
    border-radius: 2px;
}

/* riot-part S */

.riot-part {
    width: 100%;
    padding-top: 70px;
}

.riot-part .top {
    width: 100%;
    margin: 0 auto;
    padding-top: 20px;
}

.riot-part .top .tit {
    width: 605px;
    height: 111px;
    margin: 0 auto;
    background: url('../img/sp4.png') no-repeat;
    background-position: -15px -135px;
}

.riot-part .top .btn-play {
    width: 511px;
    height: 288px;
    margin: 50px auto 0;
    background: url('../img/head-bg2.jpg') center no-repeat;
    background-size: auto 100%;
    position: relative;
    left: 0;
    top: 0;
}
.btn-ljgd{
    background: url(../img/btn-ljgd.png) no-repeat;
    width: 300px;
    height: 90px;
    display: block;
    margin: 45px auto;
}

.riot-part .top .btn-play::after {
    width: 517px;
    height: 294px;
    display: block;
    content: '';
    background: url('../img/sp4.png') no-repeat;
    background-position: -15px -753px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.riot-part .top .play-icon {
    width: 51px;
    height: 31px;
    display: block;
    content: '';
    background: url('../img/sp4.png') no-repeat;
    background-position: -595px -753px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.riot-part .evo-main {
    width: 100%;
    margin-top: 115px;
}

.riot-part .evo-main .con1 {
    width: 100%;
    margin: 0 auto;
}

.riot-part .evo-main .tit1 {
    width: 337px;
    height: 168px;
    background: url('../img/sp8.png') no-repeat;
    margin: 0 auto;
}

.riot-part .evo-main .t-txt1 {
    font-family: "PingFang-SC-Regular";
    font-size: 20px;
    color: #e2ba89;
    margin-top: 10px;
    text-align: center;
}

.evo-main .t-txt1 p:nth-child(1) {
    margin-bottom: 5px;
}

.riot-part .evo-main .game-list {
    width: 680px;
    margin: 55px auto 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.riot-part .game-list li {
    width: 330px;
    height: 151px;
    margin-top: 15px;
}

.riot-part .game-list a {
    width: 100%;
    height: 100%;
    position: relative;
    left: 0;
    top: 0;
    overflow: hidden;
}

.riot-part .game-list .game-info {
    width: 227px;
    height: 153px;
    background: url('../img/m/sp4.png') no-repeat;
    background-position: -553px -821px;
    filter: drop-shadow(-2px 10px 10px #000000);
    position: absolute;
    right: 0;
    top: 0;
    overflow: hidden;
}

.riot-part .game-info .text {
    text-indent: 0em;
    width: 190px;
    text-align: right;
    text-align-last: right;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0px;
    color: #ffffff;
    position: absolute;
    right: 8px;
    bottom: 12px;
}

.riot-part .sczz .game-info {
    background-position: -550px -822px;
}

.riot-part .legends .game-info {
    background-position: -548px -822px;
}

.riot-part .yun .game-info {
    background-position: -554px -822px;
}

.riot-part .lolm .game-info {
    background-position: -554px -821px;
}

.riot-part .game-list .sczz {
    background: url('../img/game1.jpg') center no-repeat;
    background-size: 100% auto;
     background-position-y: -1px;
}

.riot-part .game-list .legends {
    background: url('../img/game2.jpg') center no-repeat;
    background-size: 100% auto;
}

.riot-part .game-list .lole {
    background: url('../img/game3.jpg') center no-repeat;
    background-size: 100% auto;
}

.riot-part .game-list .lolm {
    background: url('../img/game4.jpg') center no-repeat;
    background-size: 100% auto;
}

.riot-part .game-list .yun {
    background: url('../img/game5.jpg') center no-repeat;
    background-size: 100% auto;
}

.riot-part .game-list .jcc {
    background: url('../img/game6.jpg') center no-repeat;
    background-size: 100% auto;
}

.riot-part .game-list .zbsc {
    background: url('../img/game7.jpg') center no-repeat;
    background-size: 101% auto;
}
.part4 {
    width: 100%;
    height: 45.8333vw;
    background: url('//game.gtimg.cn/images/lol/arcane/v3/bg5.jpg') center top no-repeat;
    background-size: 100vw 45.8333vw;
}

.part4 .con {
    width: 73.4375vw;
    margin: 0 auto;
    padding-top: 5.9896vw;
}

.part4 .tit {
    width: 53.9063vw;
    height: 3.3854vw;
    background: url('//game.gtimg.cn/images/lol/arcane/v3/sp1.png') no-repeat;
    background-size: 72.9167vw 83.3333vw;
    background-position: -0.8333vw -75.4687vw;
    margin: 0 auto;
}

.part4 .partner {
    width: 100vw;
    height: 11.25vw;
    background: url('//game.gtimg.cn/images/lol/arcane/v3/partner.png') center top no-repeat;
    background-size: 100vw 11.25vw;
    margin-left: -13.2812vw;
    margin-top: 4.0625vw;
}

.part4 .qr-list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 8.925vw;
}

.part4 .qr-list li {
    width: 7.9688vw;
    height: 7.9688vw;
    position: relative;
    left: 0vw;
    top: 0vw;
    cursor: pointer;
}

.part4 .qr-list .legends-yz {
    background: url('//game.gtimg.cn/images/lol/arcane/v3/yz.png') no-repeat;
    background-size: 7.9688vw, 7.9688vw;
}

.part4 .qr-list .legends-jcc {
    background: url('//game.gtimg.cn/images/lol/arcane/v3/jcc.png') no-repeat;
    background-size: 7.9688vw, 7.9688vw;
}

.part4 .qr-list .sczz {
    background: url('//game.gtimg.cn/images/lol/arcane/v3/sczl.png') no-repeat;
    background-size: 7.9688vw, 7.9688vw;
}

.part4 .qr-list .legends {
    background: url('//game.gtimg.cn/images/lol/arcane/v3/yxlm.png') no-repeat;
    background-size: 7.9688vw, 7.9688vw;
}

.part4 .qr-list .legends-m {
    background: url('//game.gtimg.cn/images/lol/arcane/v3/lmsy.png') no-repeat;
    background-size: 7.9688vw, 7.9688vw;
}

.part4 .qr-list .zm {
    background: url('//game.gtimg.cn/images/lol/arcane/v3/zm.png') no-repeat;
    background-size: 7.9688vw, 7.9688vw;
}

.part4 .qr-list .zbsc {
    background: url('//game.gtimg.cn/images/lol/arcane/v3/zbsc.png') no-repeat;
    background-size: 7.9688vw, 7.9688vw;
}

.part4 .qr-list .weibo {
    background: url('//game.gtimg.cn/images/lol/arcane/v3/wb.png') no-repeat;
    background-size: 7.9688vw, 7.9688vw;
}

.part4 li .qr {
    width: 4.5833vw;
    height: 4.5833vw;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: block;
    opacity: 0;
    transition: all 0.3s;
    z-index: 99;
}

.part4 .qr.nothing {
    width: 4.6875vw;
    height: 1.3542vw;
}

.part4 li.sczz:hover .qr,
.part4 li.zm:hover .qr {
    opacity: 1;
}

.part4 li.sczz::after,
.part4 li.zm::after {
    display: block;
    content: '';
    width: 5.7292vw;
    height: 5.2083vw;
    border-radius: 50%;
    background: #070d15;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s;
    opacity: 0;
}

.part4 li.sczz:hover::after,
.part4 li.zm:hover::after {
    opacity: 1;
}

.part4 .qr-list a {
    width: 100%;
    height: 100%;
}